html{
    scroll-behavior: smooth;

}

html::-webkit-scrollbar{

    display: none;
}

#main-nav{
    background-color: rgb(223, 142, 169);
}

section{
    height: 100vh;
}

#home{
    background: url(strawberries);
    background-position:center-top;
    background-repeat: no-repeat;
    background-size:cover;
}

.custom-col{
    margin-top: 25%;
}

i {
    color: black;

}

.img.hero{
    height: auto;
}

.spacing{
    margin: 10%;
}
.card-icon{
    font-size: 3rem;
}
.block{
height: 1rem;
width: 2rem;
background-color: black;
margin-right: auto;
margin-left: auto;
margin-bottom: 2rem;
opacity: 0.5;
}